cultivate:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: <YOUR_ACCOUNT_IDENTIFIER>  # e.g., YWQBLJD-ON96190
      user: <YOUR_USERNAME>
      password: <YOUR_PASSWORD>
      role: ACCOUNTADMIN
      database: SNOWFLAKE_LEARNING_DB
      warehouse: COMPUTE_WH
      schema: <YOUR_USERNAME>_LOAD_DATA_FROM_CLOUD
      threads: 4
